[Service]
ExecStart=
ExecStart=/usr/sbin/varnishd -F -a :{{ varnish_listen_port }} -T {{ varnish_admin_host }}:{{ varnish_admin_port }} -f /etc/varnish/default.vcl -S /etc/varnish/secret -s default,256m